.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
target/classes/com/twelve/adapter/GridChildViewContainer.class
target/classes/com/twelve/adapter/GridChildViewContainer.class
target/classes/com/twelve/adapter/GridChildViewContainer.class
*.class
*.class
*.class
.idea/misc.xml
.idea/workspace.xml
*.class
*.class
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/scopes/scope_settings.xml
gen/com/twelve/BuildConfig.java
gen/com/twelve/Manifest.java
target/classes/TwelveCustomViews.apk
target/classes/TwelveCustomViews.unaligned.apk
TwelveCustomViews.iml
.idea/modules.xml
.idea/vcs.xml
gen/com/twelve/R.java
TwelveCustomViews.iml
TwelveCustomViews.iml
*.iml